.container {
  padding: 16px 124px;
  background-color: var(--appbar-bg);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 24px;
}
.list {
  display: flex;
  gap: 16px;
  list-style: none;
}
.list li {
  position: relative;
  padding-right: 16px;
}
.list li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 16px;
  background-color: var(--span-color);
}

.link {
  color: var(--link-color);
  text-decoration: none;
  padding: 5px 10px;
}
.link:hover {
  color: var(--link-hover-color);
}

.activeLink {
  color: var(--link-active);
  text-decoration: none;
  background-color: var(--link-active-bg);
  padding: 5px 10px;
  border-radius: 13px;
}
