.wrapper {
    position: relative;
    width: 100%;
    min-height: 700px;
    display: flex;
    align-items: center;
    padding: 0 124px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.9)
    );
    z-index: 1;
}
.content {
    position: relative;
    z-index: 2;
    max-width: 600px;

}
.title {
    color: #f8fafc;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 16px;
    letter-spacing: 2px;
}
.subtitle {
    color: #f8fafc;
    font-size: 18px;
    margin-bottom: 32px;
}
