.wrapper {
  max-width: 220px;
  flex-shrink: 0;
  cursor: pointer;
  box-sizing: border-box;
}
.posterWrapper {
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  background: #000;
}
.posterWrapper:hover .poster {
  transform: scale(1.1);
}
.poster {
  width: 100%;
  height: 330px;
  object-fit: cover;
  display: block;
  transition: transform 0.4s ease;
}
.favoriteBtn {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: none;

  background: rgba(0, 0, 0, 0.7);
  transition:
    opacity 0.3s,
    filter 0.3s;
  opacity: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}
.favoriteBtn:hover {
  opacity: 1;
  background: rgba(100, 108, 255, 0.7);
}
.posterWrapper:hover .favoriteBtn {
  opacity: 1;
}
.heart {
  font-size: 20px;
  opacity: 0.6;
}
.heartActive {
  font-size: 20px;
  opacity: 1;
}
.favoriteBtnActive {
  position: absolute;
  top: 12px;
  right: 12px;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  border: none;

  background: rgba(0, 0, 0, 0.7);
  transition:
    opacity 0.3s,
    filter 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  opacity: 1;
  filter: drop-shadow(0 0 5px #ff0000);
}
.rating {
  position: absolute;
  right: 12px;
  bottom: 12px;

  width: 44px;
  height: 44px;

  border-radius: 50%;
  background: #facc15;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 14px;

  color: #000;
}
.high {
    background-color: #16a34a; /* зелёный */
}
.medium {
    background-color: #eab308; /* жёлтый */
    color: black;
}
.low {
    background-color: #dc2626; /* красный */
}
.title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 500;
  color: var(--link-active);
}
