.btn {
    width: 100px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    color: var(--link-color);
    font-size: 14px;
    font-weight: 600;
    border-radius: 15px;
    border: 1px solid var(--btn-border-color);
}
.btn:hover {
    background: var(--link-active-bg);
}