.container {
  margin: 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.btn {
  width: 100px;
  height: 35px;
  border-radius: 15px;
  cursor: pointer;
  background-color: #2563eb;
  font-size: 16px;
  color: #fff;
  border: none;
  transition: all 0.2s ease;
    align-items: center;
    justify-content: center;
}
.btn:hover {
  background-color: #1d4ed8;
  box-shadow: 0 4px 10px rgba(37, 99, 235, 0.4);
  transform: translateY(-2px);
}
.btn:disabled {
  opacity: 0.5;
  background-color: rgba(37, 99, 235, 0.3);
}
