.container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}
.title {
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0;

}
.subtitle {
    font-size: 14px;
    color: #6b7280;
}
