.wrapper {
    padding: 0 124px;
    margin-bottom: 0;
    gap: 24px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.text {
    margin: 0;
    font-size: 16px;
    color: #6b7280;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    justify-content: start;
    gap: 20px;
}
